<ion-header>

  <ion-navbar>
        
    <ion-title>

    

      <ion-item class="item item-trns text-center" p style="color:black;font-size:50px;background-image:url('https://firebasestorage.googleapis.com/v0/b/prueba-67a60.appspot.com/o/fondoFacturacion.png?alt=media&token=f8923023-db46-4699-b234-82316e766ef5');">
      PinkyBook
 
        <ion-avatar item-end *ngIf="afAuth.authState | async" (click)="cerrarCesion()">
          <img src={{currentUser.photoURL}}>
        </ion-avatar>
      </ion-item>
      
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="afAuth.authState | async as user; else showLogin">
        <h1 p style="color:white;font-size:20px;">Bienvenido {{ user.displayName }} </h1>
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
			<ion-list>
			  <ion-item *ngFor="let item of items">
			    {{ item }}
			  </ion-item>
			</ion-list>
        <ion-list>


		          <ion-card *ngFor="let publicacion of publicaciones | async" >

				  <ion-card-header p style="color:black;font-size:30px;">
				    {{publicacion.publicador}}
				  </ion-card-header>

				  <ion-card-content p style="color:blue;font-size:20px;">
				   	{{publicacion.contenido}}
				  </ion-card-content>
				  		  <ion-col>
					      <button ion-button icon-left clear small (click)="like(publicacion.id, publicacion.likes,publicacion.estadoLike)">
					      <ion-icon name={{publicacion.estadoLike}}></ion-icon>
					      <div>{{publicacion.likes}} Likes</div>
					      </button>
					    </ion-col>

					      <ion-col>
					      <button ion-button color="danger" icon-left clear small (click)="removePubl(publicacion.id)">
					      <ion-icon name="trash"></ion-icon>
					      <div p style="color:danger;">borrar</div>
					      </button>
					      </ion-col>


					      <ion-col>
					      <button ion-button icon-left clear small (click)="Publico(publicacion.id,publicacion.modo)">
					      <ion-icon name="lock"></ion-icon>
					      <div>{{publicacion.modo}}</div>
					      </button>
					      </ion-col>



					</ion-card>

<ion-fab right bottom>
          <button ion-fab  (click)="agregarPublicacion()">
            <ion-icon name="add" ></ion-icon>
          </button>
        </ion-fab>
					

          </ion-list>


      </div>
      <ng-template #showLogin>
        <p>Por favor autenticarse...</p>
        <button ion-button color="danger"  full (click)="login()" icon-right>
          <ion-icon name="logo-googleplus"></ion-icon>
          Registrarse con Google
        </button>
      </ng-template>
</ion-content>
 <ion-fab right bottom>
          <button ion-fab  (click)="agregarPublicacion()">
            <ion-icon name="add" ></ion-icon>
          </button>
        </ion-fab>

<body style="background-image:url('https://firebasestorage.googleapis.com/v0/b/prueba-67a60.appspot.com/o/fondoFacturacion.png?alt=media&token=f8923023-db46-4699-b234-82316e766ef5')">



